.footer {
    position: fixed;
    bottom: 0; 
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 20px;
    z-index: 1000; 
    display: flex;
    justify-content: center; /* Center the button */
    align-items: center;
}

.checkout-cart {
    color:white;
}

.footer-btns {
    display:flex;
    flex-direction: column;
}

.footer-btns button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-button {
    background-color: #007bff;
}

.clear-cart-button {
    background-color: #f26d63;
}