.navbar {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color: 	#d2e7d6; 
    color: #fff; 
    padding: 10px 20px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
